@font-face {
    font-family: 'Manrope';
    src: url('fonts/manrope-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('fonts/manrope-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('fonts/manrope-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('fonts/manrope-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('fonts/manrope-semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('fonts/manrope-thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('fonts/manrope-extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
@font-face{
    font-family: 'DotGothic16';
    src: url('fonts/DotGothic16-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  *{
      padding: 0;
      margin: 0;
  }
  .container{
      width: 1310px;
      margin: 0 auto;
  }
  .logo{
      font-family: 'Manrope' ;
      font-weight: 800;
      font-size: 36px;
  }
 .nav p{
    font-family: 'Manrope' ;
    font-weight: 600;
  }
  .nav{
      display: flex;
      justify-content: space-between;
      align-items: center; 
    
  }
  ul{
      list-style: none;
  }
  .header ul{
      display: flex;
      flex-direction: row;
      writing-mode: vertical-lr ;
      gap: 40px;
   
  }
  .leftNav{

transform: translateY(-50%);
font-family: 'Manrope' ;
font-weight: 300;
font-size: 14px;
  }
h1{
    font-family: 'DotGothic16';
    font-size: 45px;
}
 .header{
    height: 700px;
 display:flex;
 justify-content: center;
 align-items:center;
 }
 .card{
width: 281px;
height: 281px;
background-color: rgb(242, 241, 241);
display: flex;
justify-content: center;
align-items:center;

 }
 .card img{
     width: 260px;
     border-radius: 10px;
     border: 1px solid black;
 }
 .box p{
    font-family: 'Manrope';
font-weight: 800;
margin-top: 10px;
 }
.main{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 350px;
}
#about{
    font-size: 30px;
  font-family: 'Manrope';
  font-weight: 800;
}
.about{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}
.numanova{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items:center;
    gap: 30px;
}
.img{
    width: 198px;
    height: 198px;
    border-radius: 50%;
    background-color: rgb(242, 241, 241);
    display: flex;
    justify-content: center;
}
.info h3{
    font-family:'Manrope';
    font-weight: 400;
    font-size: 30px;
}
.info p{
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 200;
    color: grey ;
}
.links{
    display: flex;
    gap: 10px;
}
.links p{
    color:black;

}
.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .skills{
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 200;
    color: grey ;
    display: flex;
    justify-content: space-between;

 }
 .bold{
     font-weight: 800;
     color: black;
 }
 .experience{
     width: 357px ;
     height: 257px;
     border: 1px solid rgb(242, 241, 241) ;
     display: flex;
     justify-content: left;
     align-items:center;
     border-radius: 15px;

    
 }
 .experience ul{
     margin-left: 40px;
 }
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 300px;
    gap: 100px;
}
.apps{
    display: flex;
    gap: 70px;
}
.footer{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.contact h3{
    font-size: 30px;
    font-family: 'Manrope';
    font-weight: 800;
}
.contact p{
    font-family: 'Manrope' ;
    font-weight: 600;
}
.footer-nmv{
    padding: 50px;
}
@media(min-width:380px) and (max-width:430px){
.container{
    width: 100%;
    overflow-x: hidden;
}
    h1{
     font-size: 24px;
 
 }
 #service{
     visibility: hidden;
 }
 .nav{
     width: 90%;
     margin: 0 auto;
 }
.logo{
    font-size: 20px;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color:white;
    height: 200px;
}
#card-desc{
    text-align: center;
}
.numanova{
    display: flex;
   flex-direction: column;

}
.about{
    text-align: center;
}
#about{
    font-size: 20px;
}
.info{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.img{
    background-color: white;
   margin-top:140px ;
}
#alina{
    font-size: 24px;
}
#info{
    width: 85%;
}
.skills{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 10px;
}
#order{
    font-size: 14px ;
}
}
/*mobile*/
@media(min-width:481px) and (max-width:767px){
    .container{
        width: 100%;
        overflow-x: hidden;
    }
        h1{
         font-size: 30px;
     }
     #service{
        visibility: hidden;
    }
    .nav{
        width: 90%;
        margin: 0 auto;
    }
   .logo{
       font-size: 25px;
   }
   .main{
       display: flex;
       flex-wrap: wrap;
   }
   .card{
       background-color:white;
       height: 250px;
   }
   #card-desc{
       text-align: center;
}
.numanova{
    display: flex;
   flex-direction: column;

}
.about{
    text-align: center;
}
#about{
    font-size: 25px;
}
.info{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.img{
    background-color: white;
   margin-top:140px ;
}
#alina{ font-size: 28px;
}
#info{
    width: 75%;
}
.skills{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 10px;
    justify-content: center;
}
#order{
    font-size: 14px ;
}
#card{
    width: 90%;
}
.card{
    width: 70%;
}
.box{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.header{
    height: 900px;
}

}
